p {padding-left:20%; padding-right: 20% ;color: rgb(130, 87, 87); font-size: 20px; text-align:center;font-family:'Minion', 'Minion Pro', 'Minion Pro Medium', ; } 
h1{color: rgb(95, 30, 30); font-size: 50px; text-align:center;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;}
h2{color: rgb(95, 30, 30); font-size: 30px; text-align:center;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;}
ul{color: rgb(51, 25, 25); font-size: 15px; text-align:center;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;}
body { background: rgb(248, 238, 227);}
h3{color: rgb(95, 30, 30); font-size: 20px; text-align:center;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;}
button{;width: 200px;height: 40px;color:rgb(81, 55, 26); background-color:rgb(205, 195, 188);font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;margin: 0 auto;
width: [55]; }
h4{margin-inline-start:15%;color: rgb(71, 49, 49); font-size: 18px; text-align:center;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;}
h5{color: rgb(95, 30, 30); font-size: 15px; text-align:center;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;}
h6{color: rgb(95, 30, 30); font-size: 12px; text-align:center;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;}
h7{color: rgb(95, 30, 30); font-size: 10px; text-align:center;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;}
container{text-align:center; }
ex5{display:inline-block}
.topnav {
  background-color: #537791;
  overflow: hidden;
}


  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Медиа-запрос для больших экранов */
@media (min-width: 1170px) {
    .wrapper {
         max-width: 70%;
    margin-left: auto;
    margin-right: auto;
